<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saurabh Classes</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/all.css">
</head>

<body>
    <nav class="background1">
        <div class="openMenu"><i class="fa fa-bars"></i></div>
        <ul class="mainMenu">
            <img src="../css/img/logo1.jpg" class="logo" alt="logo">
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="cources.html">Cources</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="login.html">Login</a></li>
            <div class="closeMenu"><i class="fa fa-times"></i></div>
        </ul>
    </nav>


    <section class="about background1">
        <div class="heading">
            <h1>" Saurabh Coaching Classes "</h1>
        </div>
        <div class="para">
            <p class="para1">Saurabh Coaching Classes is now 25 years complete, having 10 branches in the suburbs of
                Mumbai.

                Saurabh Kadam, the founder, principal of the classes aware of the humble beginning of Saurabh Coaching
                Classes in the year 1991 with just 12 students, is glad to have been able to expand the classes, to
                teach thousands of students today, with more than 140 staff assisting him.
                <br>
                Apart from preparing students thoroughly for an outstanding performance at the exam, the classes also
                arranges guest lectures and seminars for the personality development of students. Lectures on Time
                Management, Stress Management, Study Skills, Career Guidance and achieving success have been found very
                useful by our students over the years.
            </p>
            <p class="para2">The teachers of Saurabh Coaching Classes have periodical brain-storming sessions among
                themselves to
                plan their teaching method, monitor their own performances, gain feedback from fellow members of the
                faculty and constantly think of providing more effective inputs to students to help them perform to
                their greatest potential. <br>

                Success is planned it is said. In addition to result oriented teaching, the classes conduct Test-series
                in a systematic manner before Board/University exams to equip the students with the right techniques
                they must follow to ensure an excellent performance in writing their answers at the Board/University
                exams.

                Saurabh Coaching Classes strongly believes that the best is yet to come, and is always ready to reach
                higher levels of excellence in the years to come.</p>
        </div>

    </section>

    <section>
        <div class="head">
            <h1>Heighlights</h1>
        </div>
        <div class="about1">
            <div class="aboutcon">
                <div class="box1">
                    <img src="../css/img/25-years.png" alt="">
                    <p>More than <strong> 25 successful years</strong> in the field of education.</p>
                </div>
            </div>
            <div class="aboutcon">
                <div class="box1">
                    <img src="../css/img/lectures.png" alt="">
                    <p>We conduct about <strong>3500 lectures</strong> per week at all our branches.</p>
                </div>
            </div>
            <div class="aboutcon">
                <div class="box1">
                    <img src="../css/img/rank.png" alt="">
                    <p>We have been producing <strong>S.S.C. merit rankers</strong> since 1997.</p>
                </div>
            </div>
            <div class="aboutcon">
                <div class="box1">
                    <img src="../css/img/staff.png" alt="">
                    <p>We have a staff of more than <strong> 200 people</strong> including teaching & non-teaching
                        members.</p>
                </div>
            </div>
            <div class="aboutcon">
                <div class="box1">
                    <img src="../css/img/students.png" alt="">
                    <p>We have accomplished an astonishing growth from mere 12 students to <strong>thousands of
                            students</strong> over
                        the years.</p>
                </div>
            </div>
            <div class="aboutcon">
                <div class="box1">
                    <img src="../css/img/branches.png" alt="">
                    <p>We have in all <strong>10 branches</strong> covering Marathi & English medium of school sections
                        & science,
                        commerce & professional courses streams of college section.</p>
                </div>
            </div>
        </div>
    </section>


    <footer>
        <div class="footer">
            <p>
                &nbsp; CopyRight 2021 - Saurabh Classes
            </p>
        </div>
    </footer>

    <script src="../css/index.js"></script>
</body>

</html>