<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saurabh Classes</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/all.css">
</head>

<body>
    <nav class="background2">
        <div class="openMenu"><i class="fa fa-bars"></i></div>
        <ul class="mainMenu">
            <img src="../css/img/logo1.jpg" class="logo" alt="logo">
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="cources.html">Cources</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="login.html">Login</a></li>
            <div class="closeMenu"><i class="fa fa-times"></i></div>
        </ul>
    </nav>

    <form action="" method="post" class="form background2">
        <div class="contact">
            <h1>Contact Us</h1>
            <input type="text" name="name" placeholder="Enter your name" required>
            <input type="text" name="phone" placeholder="Enter your contact no." required>
            <input type="email" name="email" placeholder="Enter your email" required>
            <textarea name="address" id="" cols="30" rows="6" placeholder="Enter your address"></textarea>
            <textarea name="message" id="" cols="30" rows="6" placeholder="Enter your message"></textarea>
            <button class="button">Submit</button>
        </div>
    </form>


    <footer>
        <div class="footer">
            <p>
                &nbsp; CopyRight 2021 - Saurabh Classes
            </p>
        </div>
    </footer>

    <script src="../css/index.js"></script>
</body>

</html>