<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saurabh Classes</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/all.css">
</head>

<body>
    <nav class="classimg">
        <div class="openMenu"><i class="fa fa-bars"></i></div>
        <ul class="mainMenu">
            <img src="../css/img/logo1.jpg" class="logo" alt="logo">
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="cources.html">Cources</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="login.html">Login</a></li>
            <div class="closeMenu"><i class="fa fa-times"></i></div>
        </ul>
    </nav>

    <section class="cources">
        <img src="../css/img/courses.jpg" class="classimg" alt="cources">
        <div class="cohead">
            <h1>Cources Offered</h1>
        </div>
        <div class="cocon">
            <div class="cobox">
                <img src="../css/img/degree.jpg" alt="">
                <h2>B.COM</h2>
                <p><strong>The Bachelor of Commerce</strong> degree is designed to provide students with a wide range of
                    managerial skills, while building competence in a particular area of business (see aside). Most
                    universities, therefore, plan the degree such that in addition to their major, students are exposed
                    to general business principles.</p>
            </div>
            <div class="cobox">
                <img src="../css/img/degree.jpg" alt="">
                <h2>BCA</h2>
                <p><strong>Bachelor of Computer Applications</strong> is a three-year undergraduate degree course in
                    computer applications. A student undergoes rigorous academic discipline to learn about database
                    management systems, networking, data structure, and core programming languages like Python, ‘C’, and
                    ‘Java’.</p>
            </div>
            <div class="cobox">
                <img src="../css/img/degree.jpg" alt="">
                <h2>BMS</h2>
                <p><strong>Bachelor of Management Studies</strong> is an undergraduate program for management studies
                    offered by many universities throughout the world. Management studies programmes provide students
                    with a solid foundation in organizational behavior and human resource management while electives in
                    labor-management relations.</p>
            </div>
            <div class="cobox">
                <img src="../css/img/degree.jpg" alt="">
                <h2>BMM</h2>
                <p><strong>Bachelor of Mass Media</strong> is a three-year undergraduate Mass Communications programme.
                    B.M.M. covers various subjects related to communication and its mediums like newspaper, radio.The
                    course imparts theoretical as well as practical knowledge to the candidates in the first two years
                    of the course and in the final year. </p>
            </div>
            <div class="cobox">
                <img src="../css/img/degree.jpg" alt="">
                <h2>BSC-IT</h2>
                <p>BSc IT full form is <strong>Bachelor of Science in Information Technology</strong>. It is an
                    undergraduate course of 3 years divided into 6 semesters. BSc IT syllabus is based on software,
                    databases, and networking designed to impart theoretical and practical knowledge on storing,
                    processing, and managing information securely. </p>
            </div>
            <div class="cobox">
                <img src="../css/img/degree.jpg" alt="">
                <h2>BAF</h2>
                <p><strong>A bachelor’s in Finance and Accounting</strong> is an undergraduate degree that explores
                    subjects like Accounting, Financial Institutions, Market Systems, Banking, Management, etc. Running
                    for a period of 3 years, its course curriculum can vary from one institution to another.</p>
            </div>
            <div class="cobox">
                <img src="../css/img/degree.jpg" alt="">
                <h2>BBA</h2>
                <p>The <strong>Bachelor of Business Administration</strong> is a bachelor's degree in business
                    administration.In the United States, the degree is conferred after four years of full-time study in
                    one or more areas of business concentrations. In Europe, the degree is conferred after three years
                    of full-time study in one or more areas of business concentrations.</p>
            </div>
            <div class="cobox">
                <img src="../css/img/degree.jpg" alt="">
                <h2>BE</h2>
                <p>A <strong>Bachelor of Engineering</strong> is a first professional undergraduate academic degree
                    awarded to a student after three to five years of studying engineering at an accredited university.
                    Professional engineering institutions as suitable for registration as an incorporated engineer or
                    chartered engineer with further study to masters level.</p>
            </div>
            <div class="cobox">
                <img src="../css/img/degree.jpg" alt="">
                <h2>BA</h2>
                <p><strong>Bachelor of Arts</strong> (BA or AB; from the Latin baccalaureus artium, baccalaureus in
                    artibus, or artium baccalaureus) is a bachelor's degree awarded for an undergraduate program in the
                    arts or in some cases other disciplines. A Bachelor of Arts degree course is generally completed in
                    three or four years, depending on the country and institution.</p>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer">
            <p>
                &nbsp; CopyRight 2021 - Saurabh Classes
            </p>
        </div>
    </footer>

    <script src="../css/index.js"></script>
</body>

</html>