<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saurabh Classes</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/all.css">
</head>

<body>
    <nav class="background">
        <div class="openMenu"><i class="fa fa-bars"></i></div>
        <ul class="mainMenu">
            <img src="../css/img/logo1.jpg" class="logo" alt="logo">
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="cources.html">Cources</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="login.html">Login</a></li>
            <div class="closeMenu"><i class="fa fa-times"></i></div>
        </ul>
    </nav>


    <section class="background firstsection">
        <div class="maincon">
            <div class="container">
                <h1>Welcome to Saurabh Classes</h1>
                <p>Saurabh Kadam, the founder, principal of the classes aware of the humble beginning of Saurabh
                    Coaching
                    Classes in the year 1991 with just 12 students, is glad to have been Able to expand the classes, to
                    teach thousands of students today, with more than 140 staff assisting him.
                    The bright performances of Saurabh Coaching Classes’ students year after year have been the
                    driving
                    force behind its success. The commitment of the teachers to draw the best out of weak students has
                    also
                    been an important factor contributing to the trust the classes enjoys among the parents.</p>
                <button class="btn"><a href="login.html">Login Here</a></button>
            </div>
        </div>
    </section>

    <section class="boxsection">
        <div class="boxcon">
            <div class="box">
                <img src="../css/img/1.jpg" class="boximg" alt="">
                <h2>WELL-CURATED STUDY MATERIAL</h2>
                <p>Our experienced faculty strive hard for extensive coverage of all courses in the form of lectures,
                    study material and tests to ensure that students cover everything.</p>
            </div>

            <div class="box">
                <img src="../css/img/2.jpg" class="boximg" alt="">
                <h2>EXPERIENCED FACULTY</h2>
                <p>Our faculty add experience and value to student’s learning constantly with advanced teaching
                    techniques and quick doubt clarification.</p>
            </div>


            <div class="box">
                <img src="../css/img/3.jpg" class="boximg" alt="">
                <h2>TESTS & ASSESSMENT</h2>
                <p>Our topic-wise tests, major-tests and rigourous feedback mechanism help the students to know their
                    level of understanding</p>
            </div>


            <div class="box">
                <img src="../css/img/4.jpg" class="boximg" alt="">
                <h2>NETWORK OF SUCCESS</h2>
                <p>Strongly networked community of successful students; Ex-students help our students build connections
                    and offer career guidance.</p>
            </div>

        </div>
    </section>

    <section class="std">
        <h1>Our Happy Students</h1>
        <div class="students">
            <div class="left">
                <p>Upto now my experience with Saurabh Classes was superb. The lectures were detailed and interactive.
                    These lectures have improved my thinking skill, ability and given me knowledge. All the concepts are
                    taken one by one and are well explained. The multimedia lectures are very good and amazing.</p>
                <h3>-- Hasinah</h3>
            </div>
            <div class="right">
                <img src="../css/img/user-1.png" alt="">
            </div>
        </div>
        <div class="manish">
            <div class="left">
                <p>It has been a very good experience for me and concepts are getting cleared.Personal attention is
                    given. I enjoy coming here. All the teachers and sirs teach in such a way that we all understand it
                    very clearly. All are friendly and I love to converse with them.</p>
                <h3>-- Manish</h3>
            </div>
            <div class="right">
                <img src="../css/img/user-2.png" alt="">
            </div>
        </div>
        <div class="students">
            <div class="left">
                <p>What's in a name? Saurabh Classes is a name still not very well known to the education world of
                    Mumbai but with my little experience here, I can undoubtedly claim that it is a "small package bada
                    dhamaka". No questions can be raised about the level of teaching and values here. The multimedia
                    lectures are very good and amazing.</p>
                <h3>-- Priya</h3>
            </div>
            <div class="right">
                <img src="../css/img/user-3.png" alt="">
            </div>
        </div>
    </section>


    <footer>
        <div class="footer">
            <p>
                &nbsp; CopyRight 2021 - Saurabh Classes
            </p>
        </div>
    </footer>

    <script src="../css/index.js"></script>
</body>

</html>