<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saurabh Classes</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/all.css">
</head>

<body>
    <nav class="background3">
        <div class="openMenu"><i class="fa fa-bars"></i></div>
        <ul class="mainMenu">
            <img src="../css/img/logo1.jpg" class="logo" alt="logo">
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="cources.html">Cources</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="login.html">Login</a></li>
            <div class="closeMenu"><i class="fa fa-times"></i></div>
        </ul>
    </nav>

    <div class="login background3">
        <div class="lohead">
            <h1>Login</h1>
        </div>
        <div class="loform">
            <form action="" method="post" class="foclass">
                <h3>Name</h3>
                <input type="text" name="name" placeholder="Enter your name" required>
                <h3>Password</h3>
                <input type="Password" name="password" placeholder="Enter your password" required>
                <button class="buttonn">Login</button>
            </form>
        </div>
    </div>

    <footer>
        <div class="footer">
            <p>
                &nbsp; CopyRight 2021 - Saurabh Classes
            </p>
        </div>
    </footer>

    <script src="../css/index.js"></script>
</body>

</html>